h1{
    color: rebeccapurple;
}
.body{
    background-color: aquamarine;
    height: 300px;
}
.header{
    display: flex;
    height: 50px;
}
.logo{
    background-color: aqua;
    width: 30%;
}
.menu{
    background-color: bisque;
    width: 70%;
}